# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

# Distribution / packaging
/build/
/dist/
/eggs/
/.eggs/
*egg-info/

# setuptools_scm
src/scyjava/_version.py

# Vi
*.swp

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml